.rounded-corners {
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.camera__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 720px;
  background-color: #7a7aa5;
  composes: rounded-corners;
}

.text__heading {
  color: white;
  font-size: 3rem;
}

.camera {
  object-fit: cover;
  composes: rounded-corners;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  composes: rounded-corners;
}

.buttons_container {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  top: 30px;
  right: 30px;
}

.toggle_lines_button {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon_not_selected {
  color: #c01853;
  composes: icon;
}

.icon_selected {
  color: #178b65;
  composes: icon;
}

.camera_icon {
  color: rgba(0, 0, 0, 0.7);
  composes: icon;
}

@media screen and (max-width: 1024px) {
  .rounded-corners {
    border-radius: 0;
  }

  .camera__container {
    width: 100vw;
    height: 100vh;
  }

  .camera {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
